<section id="wrapper">
    <app-spinner></app-spinner>
    <div class="row video-detail-row p-0 g-0" *ngIf="course">
        <div class="col-9 video-detail-col">
            <nav class="breadcrumb-nav px-4 py-2 d-flex m-0" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a [routerLink]="['/lms/dashboard']" class="text-decoration-none"><img src="assets/home.svg" alt=""></a></li>
                  <li class="breadcrumb-item"> <a href="javascript:void(0)" class="text-decoration-none">  {{course.title}} </a> </li>
                </ol>
              </nav>
            <div [ngClass]="{'hide-video': currentPage !== 'Video'}" class="mb-4 video-js-container">
                <!-- <img src="assets/video-img.jpg" alt="" class="d-flex"> -->
                <app-video-player #videoPlayer [options]="options" [course]="course" [courseStatus]="enrollmentCourseStatus" [moduleIndex]="moduleIndex" [chapterIndex]="chapterIndex" (playerReady)="onPlayerReady()" (videoEnded)="onVideoEnded()"></app-video-player>
            </div>
            <div [ngClass]="{'hide-quiz': currentPage !== 'Quiz'}" class="mb-4 video-js-container">
                <app-quiz *ngIf="currentPage === 'Quiz'" #quizPlayer [course]="course" [isVideoPlaying]="true" [courseStatus]="enrollmentCourseStatus" [moduleIndex]="moduleIndex" (quizCompleted)="onQuizCompleted()"></app-quiz>
            </div>
            <div [ngClass]="{'hide-assessment': currentPage !== 'Assessment'}" class="mb-4 video-js-container">
                <app-assessment *ngIf="currentPage === 'Assessment'" #assessmentPlayer [course]="course" [courseStatus]="enrollmentCourseStatus"></app-assessment>
            </div>

           <div>
            <ul class="nav nav-tabs px-2 nav-fill gap-1" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active fs-6" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link position-relative fs-6" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                        Resources <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill fs-13 fw-medium">
                            {{course.resources.length || ''}}
                            <span class="visually-hidden">unread messages</span>
                          </span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-6" id="discussion-tab" data-bs-toggle="tab" data-bs-target="#discussion" type="button" role="tab" aria-controls="discussion" aria-selected="false">Discussion</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-6" id="announcements-tab" data-bs-toggle="tab" data-bs-target="#announcements" type="button" role="tab" aria-controls="announcements" aria-selected="false">Announcements</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active px-2 py-2 px-sm-5 py-sm-4" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <app-overview [course]="course"  [enrollmentCourseStatus]="enrollmentCourseStatus" (openAssessment)="onPlayAssessment()"></app-overview>
                </div>
                <!-- Overview -->
                <div class="tab-pane fade px-2 py-2 px-sm-5 py-sm-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <app-resource [course]="course"></app-resource>
                </div>
                <!-- Resources -->
                <div class="tab-pane fade px-2 py-2 px-sm-5 py-sm-4" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
                    <app-discussion [course]="course"></app-discussion>
                </div>
                <!-- Discussion -->
                <div class="tab-pane fade px-2 py-2 px-sm-5 py-sm-4" id="announcements" role="tabpanel" aria-labelledby="announcements-tab">
                    <app-announcement [course]="course"></app-announcement>
                </div>
                <!-- Announcements -->
            </div>

           </div>
        </div>

        <div class="col-3 video-detail-list p-0">
            <app-video-list [course]="course" [currentPage]="currentPage" [courseStatus]="enrollmentCourseStatus" [moduleIndex]="moduleIndex" [chapterIndex]="chapterIndex" (videoSelect)="onVideoSelect($event)" (playQuiz)="onPlayQuiz($event)" (playAssessment)="onPlayAssessment()"></app-video-list>
        </div>
    </div>
</section>
