<section id="wrapper">
    <div class="video-detail-row" *ngIf="course">
        <div class="video-detail-col">
            <ul class="breadcrumbs d-flex flex-row gap-2 align-items-center">
                <li> <a href="javascript:void(0)"> <img src="assets/home.svg" alt=""> </a> </li>
                <li> <img src="assets/arrow-breadcrumbs.svg" alt=""> </li>
                <li> <a href="javascript:void(0)"> Course </a> </li>
                <li> <img src="assets/arrow-breadcrumbs.svg" alt=""> </li>
                <li> <a href="javascript:void(0)"> Deep Learning Specialization </a> </li>
                <li> <img src="assets/arrow-breadcrumbs.svg" alt=""> </li>
                <li> <a href="javascript:void(0)"> Neural Networks and Deep Learning </a> </li>
            </ul>
            <div class="video-section">
                <img src="assets/video-img.jpg" alt="">
            </div>
            
        </div>
        
        <div class="video-detail-list">
            <div class="video-detail-progress gap-3 d-flex">
                <button class="btn btn-link"> <img src="assets/stretch.svg" alt=""> </button>
                <button class="btn btn-link"> <img src="assets/edit-text.svg" alt=""> </button>
                <p>70% Progress</p>
                <span class="progress-bar"></span>
            </div>
            <div class="video-list">
                <div class="accordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button gap-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="video-no rounded-circle d-flex justify-content-center align-items-center"> 1 </div>
                            <div class="video-list-detail">
                                <h4>Welcome to the Deep Learning</h4>
                                <p>20 min</p>
                            </div>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" >
                        <div class="accordion-body">
                            <button class="video-list-innr gap-4">
                                <div class="video-no d-flex justify-content-center "> <img src="assets/video-icon.svg" alt=""> </div>
                                <div class="video-list-detail">
                                    <h4>Welcome to the Deep Learning</h4>
                                    <p>20 min</p>
                                </div>
                                <div class="video-list-icon"> <img src="assets/check-lite.svg" alt=""> </div>
                            </button> 
                            <button class="video-list-innr gap-4 current">
                                <div class="video-no d-flex justify-content-center "> <img src="assets/video-icon.svg" alt=""> </div>
                                <div class="video-list-detail">
                                    <h4>Welcome to the Deep Learning</h4>
                                    <p>20 min</p>
                                </div>
                                <div class="video-list-icon"> <img src="assets/check-dark.svg" alt=""> </div>
                            </button>                 
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button gap-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <div class="video-no rounded-circle d-flex justify-content-center align-items-center"> 1 </div>
                            <div class="video-list-detail">
                                <h4>Welcome to the Deep Learning</h4>
                                <p>20 min</p>
                            </div>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" >
                        <div class="accordion-body">
                            <button class="video-list-innr gap-4">
                                <div class="video-no d-flex justify-content-center "> <img src="assets/video-icon.svg" alt=""> </div>
                                <div class="video-list-detail">
                                    <h4>Welcome to the Deep Learning</h4>
                                    <p>20 min</p>
                                </div>
                                <div class="video-list-icon"> <img src="assets/check-lite.svg" alt=""> </div>
                            </button> 
                            <button class="video-list-innr gap-4">
                                <div class="video-no d-flex justify-content-center "> <img src="assets/video-icon.svg" alt=""> </div>
                                <div class="video-list-detail">
                                    <h4>Welcome to the Deep Learning</h4>
                                    <p>20 min</p>
                                </div>
                                <div class="video-list-icon"> <img src="assets/check-dark.svg" alt=""> </div>
                            </button>  
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>