.login-wrapper {
  width: 416px !important;
}

.btn,
.input-group-text,
.form-control,
.forgot-pass {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-optical-sizing: auto;
}

.social-login .google,
.social-login .facebook,
.social-login .apple {
  background-color: var(--white-bg);
}

.icon-google {
  background: url('../../../assets/google2.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.icon-facebook {
  background: url('../../../assets/fb2.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.btn {
  border-radius: 30px;
  height: 60px;
  width: 100%;
  padding: 0px 50px;
  margin-bottom: 20px;
}

.login-btn {
  background: var(--active-color);
  color: var(--bs-white);
}

.form-control {
  border-radius: 30px;
  height: 60px;
  border: 0 none;
  padding: 0 30px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-wrapper {
  margin-bottom: 20px;
}

.input-group-text {
  background: var(--bg-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 60px;
  padding: 20px;
  border: 0 none;

  &.email {
    padding-left: 56px;
  }
}

.input-group-error {
  border: 2px solid var(--red);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.input-error-text {
  font-size: 14px;
  padding-left: 30px;
}

.forgot-pass,
.sign-up {
  color: var(--bs-white);
  font-size: 16px;
}

.or-text {
  &:before,
  &:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid #667a8b;
    margin: auto;
  }

  &:before {
    margin-right: 10px;
  }

  &:after {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1512px) and (min-width: 1366px) { 
  .form-bg {
    width: 525px !important;
  }
  h2 {
    font-size: 16px !important;
  }
  .form-control {
    height: 40px;
    font-size: 12px ;
  }
  .forgot-pass, .sign-up {
    font-size: 12px ;
  }
  .btn {
    height: 40px;
    font-size: 14px;
  }
  .login-wrapper {
    width: 350px !important;
  }
  .input-error-text {
    font-size: 12px;
  }
}