<!-- Login Form Start -->
<div class="w-100 login-wrapper">
  <div class="mb-5 text-center">
    <img src="../../assets/logo.png" alt="" />
  </div>
  <h2 class="text-white text-center pb-3">Login</h2>

  <!-- <div class="text-success text-center mb-4">
    Account created successfully. Login with your new credentials.
  </div> -->

  <form [formGroup]="loginForm" (submit)="onLoginFormSubmit($event)">
    <div class="form-control-wrapper">
      <div
        class="input-group"
        [class.input-group-error]="
          isSubmitted &&
          loginFormControls.email.touched &&
          (loginFormControls.email.errors?.required ||
            loginFormControls.email.errors?.email)
        "
      >
        <!-- <span class="input-group-text email">Email</span> -->
        <input
          type="text"
          class="form-control"
          aria-label="Email"
          formControlName="email"
          placeholder="Email"
        />
      </div>
      <div
        *ngIf="
          isSubmitted &&
          loginFormControls.email.touched &&
          (loginFormControls.email.errors?.required ||
            loginFormControls.email.errors?.email)
        "
        class="input-error-text text-danger"
      >
        Please enter a valid email
      </div>
    </div>
    <div>
      <div
        class="input-group"
        [class.input-group-error]="
          isSubmitted &&
          loginFormControls.password.touched &&
          loginFormControls.password.errors?.required
        "
      >
        <!-- <span class="input-group-text">Password</span> -->
        <input
          type="password"
          class="form-control"
          aria-label="Password"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <div
        *ngIf="
          isSubmitted &&
          loginFormControls.password.touched &&
          loginFormControls.password.errors?.required
        "
        class="input-error-text text-danger"
      >
        Please enter a valid password
      </div>
    </div>

    <div class="mb-4 text-end">
      <a href="#" routerLink="/auth/forgot-password" class="forgot-pass"
        >Forgot password?</a
      >
    </div>

    <div *ngIf="loginErrorMessage" class="text-danger text-center mb-2">
      {{ loginErrorMessage }}
    </div>

    <button type="submit" class="btn btn-block login-btn">Login</button>

    <div class="text-center">
      <span>Don't have an account? </span>
      <a href="#" routerLink="/auth/signup" class="sign-up">Sign Up</a>
    </div>
  </form>
  <div class="d-flex flex-row or-text my-4">Or</div>
  <div class="social-login">
    <a
      class="google btn d-flex justify-content-center align-items-center"
      (click)="continueWithGoogle()"
    >
      <span class="icon-google mr-3"></span>
      <span style="margin: 0 auto">Continue with Google</span>
    </a>
    <a
      class="facebook btn d-flex justify-content-center align-items-center"
      (click)="continueWithFacebook()"
    >
      <span class="icon-facebook mr-3"></span>
      <span style="margin: 0 auto">Continue with Facebook</span>
    </a>
  </div>
</div>
<!-- Login Form End -->
