<div *ngIf="quiz && !quizFinished;">
    <h2>Question {{ currentQuestionIndex + 1 }}:</h2>
    <p>{{ questions[currentQuestionIndex].questionText }}</p>
    <ul>
      <li *ngFor="let option of questions[currentQuestionIndex].options">
        <input 
          type="radio" 
          [id]="option" 
          [value]="option" 
          name="option" 
          (change)="onOptionSelect(option)">
        <label [for]="option">{{ option }}</label>
      </li>
    </ul>
    <button *ngIf="currentQuestionIndex < this.questions.length - 1" (click)="nextQuestion()" [disabled]="!isAnswerSelected">Next</button>
    <button *ngIf="currentQuestionIndex === this.questions.length - 1" (click)="submitAnswer()" [disabled]="!isAnswerSelected">Submit Answer</button>
  </div>
  
  <div *ngIf="quizFinished">
    <h2>Result: {{quizResult.passed}}</h2>
    <h2>Your Score: {{quizResult.scorePercentage.toFixed(2)}}</h2>
    <button (click)="onBack()">Back</button>
    <button *ngIf="quizResult.scorePercentage < 100" (click)="restartQuiz()">Retake Quiz</button>
  </div>
  