<div *ngIf="questions && !quizFinished;">
    <h2>Question {{ currentQuestionIndex + 1 }}:</h2>
    <p>{{ questions[currentQuestionIndex].questionText }}</p>
    <ul>
      <li *ngFor="let option of questions[currentQuestionIndex].options">
        <input 
          type="radio" 
          [id]="option" 
          [value]="option" 
          name="option" 
          (change)="onOptionSelect(option)">
        <label [for]="option">{{ option }}</label>
      </li>
    </ul>
    <button *ngIf="currentQuestionIndex < this.questions.length - 1" (click)="nextQuestion()" [disabled]="!isAnswerSelected">Next</button>
    <button *ngIf="currentQuestionIndex === this.questions.length - 1" (click)="submitAnswer()" [disabled]="!isAnswerSelected">Submit Answer</button>
  </div>
  
  <ng-template #quizResult>
    <h2>Your Score: {{ score }} / {{ questions.length }}</h2>
    <button (click)="restartQuiz()">Restart Quiz</button>
  </ng-template>
  