<div id="wrapper">
  <div class="course-wrapper" *ngIf="spinner.isLoading">
    <div class="colby3">
      <app-course-skeleton
        *ngFor="let n of [1, 2, 3, 4, 5, 6]"
      ></app-course-skeleton>
    </div>
  </div>
  <div class="course-wrapper" *ngIf="!spinner.isLoading">
    <div>
      <h3 class="main-title">My Courses</h3>
      <nav>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
          <button
            class="nav-link"
            [ngClass]="{ active: selectedTab === 'active' }"
            type="button"
            (click)="toggleTab('active')"
          >
            Active
            <span class="badge rounded-pill fw-medium">{{
              activeList.length < 10 && activeList.length !== 0 ? '0' + activeList.length : activeList.length
            }}</span>
          </button>
          <button
            class="nav-link"
            [ngClass]="{ active: selectedTab === 'completed' }"
            type="button"
            (click)="toggleTab('completed')"
          >
            Completed
            <span class="badge rounded-pill fw-medium">{{
              completeList.length < 10  && completeList.length !== 0 ? '0' + completeList.length : completeList.length
            }}</span>
          </button>
          <!--button
            class="nav-link"
            [ngClass]="{ active: selectedTab === 'wishlist' }"
            type="button"
            (click)="toggleTab('wishlist')"
          >
            Wishlisted
            <span class="badge rounded-pill fw-medium">{{
              wishlistList.length < 10 ? '0' + wishlistList.length : wishlistList.length
            }}</span>
          </button-->
        </div>
      </nav>
      <div class="tab-content">
        <div
          class="tab-pane"
          [ngClass]="{ 'active show': selectedTab === 'active' }"
          *ngIf="selectedTab === 'active'"
        >
          <div class="colby3">
            <ng-container *ngIf="activeList.length">
              <app-course-card *ngFor="let course of activeList;" [course]="course"></app-course-card>
            </ng-container>
            <ng-container *ngIf="!activeList.length">
              No active course found.
            </ng-container>
          </div>
        </div>
        <div
          class="tab-pane"
          [ngClass]="{ 'active show': selectedTab === 'completed' }"
          *ngIf="selectedTab === 'completed'"
        >
          <div class="colby3">
            <ng-container *ngIf="completeList.length">
              <app-course-card *ngFor="let course of completeList" [course]="course"></app-course-card>
            </ng-container>
            <ng-container *ngIf="!completeList.length">
              No completed course as of now.
            </ng-container>
          </div>
        </div>
        <!--div
          class="tab-pane"
          [ngClass]="{ 'active show': selectedTab === 'wishlist' }"
          *ngIf="selectedTab === 'wishlist'"
        >
          <div class="colby3">
            <ng-container *ngFor="let course of wishlistList">
              <app-course-card [course]="course"></app-course-card>
            </ng-container>
          </div>
        </!--div-->
      </div>

    </div>
    <section>
      <div class="mt-5 mx-0">
        <h3 class="main-title">Available Courses</h3>
        <div class="d-flex">
          <div class="col-3 pe-4">
            <h3>Filter By</h3>
            <app-data-filter
              (filterUpdate)="onFilterUpdate($event)"
            ></app-data-filter>
          </div>
          <div class="col-9">
            <div class="colby3">
              <ng-container *ngFor="let course of filteredList">
                <app-course-card [course]="course"></app-course-card>
              </ng-container>
            </div>
            <div class="content-center">
              <button class="btn primary-btn-filled">Load more</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
