.course-wrapper {
    padding: 50px 80px;
    background-color: var(--bs-white);
}
.accordion.course-filters
{
    .accordion-item {
         margin-bottom: 20px;
        .accordion-header button{
            border: 0 none;
            background: #F5F5F5;
            color: #2C2C2C;
            font-size: 16px;
            font-weight: 600;
            height: 40px;
        }
        .accordion-collapse {
            border: 0 none;
        }
    }
    }
