.login-bg {
  background: url('../../../assets/login-bg.png');
}

.half {
  height: 100vh;
}

@media (max-width: 991.98px) {
  .half .bg {
    height: 500px;
  }
}

.half .bg {
  width: 50%;
}

@media (max-width: 1199.98px) {
  .half .bg {
    width: 100%;
  }
}

.poweredby {
  background: url('../../../assets/poweredby.png') no-repeat;
  width: 223px;
  height: 83px;
  bottom: 100px;
  position: absolute;
  left: 7%;
}
