<div class="course-card full-width">
	<div class="course-img">
		<img src="../../assets/courses/courses-thumbnail-4.png" alt="course thumbnail" />
		<div class="resume">
			<div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="--value:25"></div>
			<button class="btn primary-btn">Resume</button>
		</div>
	</div>
	<div class="course-info">
		<div class="course-footer">
			<div>Specialization <span> | </span> AI Learning</div>
			<div class="rating">4.5 <span class="star-icon"></span></div>
		</div>
		<h2 class="primary-heading pb-0">AI and Deep Learning</h2>
		<p class="gray-txt">Linjith Kunnon <span>(2 days ago)</span></p>
		<div class="course-status">
			<label><span class="user-icon"></span> Beginner</label>
			<label><span class="clock-icon me-2"></span> 14hr 30min</label>
		</div>
		<div class="progress">
			<div class="progress-bar w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
	</div>

</div>
