<!-- Reset Password Start -->
<div class="w-100 reset-password-wrapper">
  <div class="mb-5 text-center">
    <img src="../../assets/tekcapzule-logo-white.svg" alt="" />
  </div>
  <h2 class="text-white text-center pb-3">Create New Password</h2>
  <p class="text-center">
    We have sent a password reset code by email{{
      getDeliveryEmailIfPresent()
    }}. Enter it below to reset your password.
  </p>
  <form [formGroup]="resetPasswordForm" (submit)="onFormSubmit($event)">
    <div class="form-control-wrapper">
      <div
        class="input-group"
        [class.input-group-error]="
          isSubmitted &&
          resetPasswordFormControls.confirmationCode.touched &&
          resetPasswordFormControls.confirmationCode.errors?.required
        "
      >
        <input
          type="text"
          class="form-control"
          aria-label="Verification Code"
          placeholder="Verification Code"
          (keydown)="allowOnlyNumericInput($event)"
          formControlName="confirmationCode"
        />
      </div>
      <div
        class="input-error-text text-danger"
        *ngIf="
          isSubmitted &&
          resetPasswordFormControls.confirmationCode.touched &&
          resetPasswordFormControls.confirmationCode.errors?.required
        "
      >
        Please enter a valid verification code
      </div>
    </div>

    <div class="form-control-wrapper">
      <div
        class="input-group"
        [class.input-group-error]="
          isSubmitted &&
          resetPasswordFormControls.newPassword.touched &&
          (resetPasswordFormControls.newPassword.errors?.required ||
            resetPasswordFormControls.newPassword.errors?.minlength ||
            resetPasswordFormControls.newPassword.errors?.invalid)
        "
      >
        <input
          type="password"
          class="form-control"
          aria-label="New Password"
          placeholder="New Password"
          formControlName="newPassword"
        />
      </div>
      <div
        class="input-error-text text-danger"
        *ngIf="
          isSubmitted &&
          resetPasswordFormControls.newPassword.touched &&
          (resetPasswordFormControls.newPassword.errors?.required ||
            resetPasswordFormControls.newPassword.errors?.minlength ||
            resetPasswordFormControls.newPassword.errors?.invalid)
        "
      >
        Please enter a valid password
      </div>
      <div
        class="input-error-text text-danger mt-2"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          resetPasswordFormControls.newPassword.errors?.noUpperCase
        "
      >
        <i class="fa fa-times-circle" style="margin-right: 4px"></i>
        <span>Password must contain an upper case letter</span>
      </div>
      <div
        class="input-error-text text-success mt-2"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          !resetPasswordFormControls.newPassword.errors?.noUpperCase
        "
      >
        <i class="fa fa-check-circle" style="margin-right: 4px"></i>
        <span>Password must contain an upper case letter</span>
      </div>

      <div
        class="input-error-text text-danger"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          resetPasswordFormControls.newPassword.errors?.noLowerCase
        "
      >
        <i class="fa fa-times-circle" style="margin-right: 4px"></i>
        <span>Password must contain a lower case letter</span>
      </div>
      <div
        class="input-error-text text-success"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          !resetPasswordFormControls.newPassword.errors?.noLowerCase
        "
      >
        <i class="fa fa-check-circle" style="margin-right: 4px"></i>
        <span>Password must contain a lower case letter</span>
      </div>

      <div
        class="input-error-text text-danger"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          resetPasswordFormControls.newPassword.errors?.noNumber
        "
      >
        <i class="fa fa-times-circle" style="margin-right: 4px"></i>
        <span>Password must contain a number</span>
      </div>
      <div
        class="input-error-text text-success"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          !resetPasswordFormControls.newPassword.errors?.noNumber
        "
      >
        <i class="fa fa-check-circle" style="margin-right: 4px"></i>
        <span>Password must contain a number</span>
      </div>

      <div
        class="input-error-text text-danger"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          resetPasswordFormControls.newPassword.errors?.noMinLength
        "
      >
        <i class="fa fa-times-circle" style="margin-right: 4px"></i>
        <span>Password must contain at least 8 characters</span>
      </div>
      <div
        class="input-error-text text-success"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          !resetPasswordFormControls.newPassword.errors?.noMinLength
        "
      >
        <i class="fa fa-check-circle" style="margin-right: 4px"></i>
        <span>Password must contain at least 8 characters</span>
      </div>

      <div
        class="input-error-text text-danger"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          resetPasswordFormControls.newPassword.errors?.noSpecialChar
        "
      >
        <i class="fa fa-times-circle" style="margin-right: 4px"></i>
        <span>Password must contain a special character</span>
      </div>
      <div
        class="input-error-text text-success"
        *ngIf="
          resetPasswordFormControls.newPassword.dirty &&
          !resetPasswordFormControls.newPassword.errors?.noSpecialChar
        "
      >
        <i class="fa fa-check-circle" style="margin-right: 4px"></i>
        <span>Password must contain a special character</span>
      </div>
    </div>

    <div class="form-control-wrapper">
      <div
        class="input-group"
        [class.input-group-error]="
          isSubmitted &&
          resetPasswordFormControls.confirmPassword.touched &&
          (resetPasswordFormControls.confirmPassword.errors?.required ||
            resetPasswordForm.errors?.nomatch)
        "
      >
        <input
          type="password"
          class="form-control"
          aria-label="Confirm Password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
      </div>
      <div
        class="input-error-text text-danger"
        *ngIf="
          isSubmitted &&
          resetPasswordFormControls.confirmPassword.touched &&
          (resetPasswordFormControls.confirmPassword.errors?.required ||
            resetPasswordForm.errors?.nomatch)
        "
      >
        Passwords does not match
      </div>
    </div>

    <div
      *ngIf="confirmResetPasswordErrorMessage"
      class="text-danger text-center mb-4"
    >
      {{ confirmResetPasswordErrorMessage }}
    </div>

    <button type="submit" class="btn btn-block login-btn">
      Reset Password
    </button>
  </form>
</div>
<!-- Reset Password End -->
