// Courses
.courses {
  & .course-container {
    background-color: var(--white-bg);
    min-height: 160px;

    .box {
      min-height: 180px;

      h3 {
        color: var(--secondary-color);
      }
    }
  }
}

.form-check {
  padding-left: 0;
}
.accordion-body {
  padding: 1rem 1.25rem 0.5rem;
}