<div class="accordion course-filters">
	<div class="accordion-item">
	  <h2 class="accordion-header" id="headingOne">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			Topics
		</button>
	  </h2>
	  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" >
		<div class="accordion-body">
			<div *ngFor="let topic of topics" class="form-check">
				<p-checkbox
				name="topic"
				[value]="topic.code"
				[(ngModel)]="selectedTopic"
				[inputId]="topic.code"
				(onChange)="onFilterChange($event, topic.code)"
				></p-checkbox>
				<label [for]="topic.code">{{ topic.title }}</label>
			</div>
			
		</div>
	  </div>
	</div>
	<div class="accordion-item">
	  <h2 class="accordion-header" id="headingTwo">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			Level
		</button>
	  </h2>
	  <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" >
		<div class="accordion-body">
			<div *ngFor="let level of levelCategories" class="form-check">
				<p-checkbox
				name="level"
				[value]="level.code"
				[(ngModel)]="selectedLevel"
				[inputId]="level.code"
				(onChange)="onFilterChange($event, level.code)"
				></p-checkbox>
				<label [for]="level.code">{{ level.name }}</label>
			</div>
		</div>
	  </div>
	</div>
	<!--div class="accordion-item">
	  <h2 class="accordion-header" id="headingThree">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
			Duration
		</button>
	  </h2>
	  <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" >
		<div class="accordion-body">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="">
				<label class="form-check-label">
				 Checkbox Value-1
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="">
				<label class="form-check-label">
				  Checkbox Value-2
				</label>
			  </div>
		</div>
	  </div>
	</!--div-->
</div>