.course-card.skeleton-loader {
  .course-img {
    border-radius: 0;
  }
  .primary-heading {
    width: 80%;
    height: 27px;
    margin-bottom: 6px;
  }
  .gray-txt {
    width: 60%;
    height: 21px;
  }
  .course-status {
    height: 24px;
  }
  .specialization {
    width: 100%;
    height: 21px;
  }
}
