<section>
    <div class="float-end">
        <button class="filter-btn">
          <img src="../../assets/images/filter.svg" alt="reset icon" class="pr-3" />
          Filter</button>
        <button class="filter-btn">
          <img src="../../assets/images/reset.svg" alt="reset icon" class="pr-1" />
          Refresh
        </button>
      </div>
</section>
<section class="align-items-center inner ng-star-inserted">
    <div class="feeds-blog-container">
        <div class="d-flex justify-content-between">

            <div class="subscribe-container">
                <div class="enroll-sec">
                    <div class="icon-text">
                        <div class="badge-icon me-4"></div>
                        <div>
                            <h3 class="mb-2">Earn Badge and Credit</h3>
                            <p>You earn 10 credit points when you complete this course</p>
                        </div>
                    </div>
                    <hr />
                    <div class="icon-text">
                        <div class="certificate-icon me-4"></div>
                        <div>
                            <h3 class="mb-2">Certificate of Completion</h3>
                            <p>Share it on social media</p>

                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="share-container">
                    <div class="share-block">
                        <div class="profile-pic"></div>
                        <div class="share-textbox w-100 pb-3"><input type="text" placeholder="Start Sharing..."></div>
                    </div>
                    <div class="share-icons">
                        <button class="share-btn news"><span>Announcement</span></button>
                        <button class="share-btn article"><span>Article</span></button>
                        <button class="share-btn discussion"><span>Discussion</span></button>
                        <button class="share-btn poll"><span>Poll</span></button>
                        <!-- <button class="share-btn video"><span>Video</span></button> -->
                    </div>
                    <!-- <p>* You know you can earn credit by sharing post. <a
                            href="#" class="underline">Start earning edits!</a></p> -->
                </div>
                <div class="main-container">
                    <div class="d-flex">
                        <div class="profile-pic"></div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h6>The Rise of Artificial Intelligence</h6>
                                <div class="d-flex align-items-center"><b>Article</b><span
                                        class="article-gray-icon ml-2"></span></div>
                            </div>
                            <p class="grey-color">2 mins ago</p>
                        </div>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss
                        voluptatem accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa <span>see
                            more…</span></p><img src="../../assets/feeds/feeds-img-1.png" alt=""
                        class="img-fluid feeds-img">
                    <p>120 recommended</p>
                    <div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center"><span
                                    class="recommend-gray-icon pe-4"></span>Recommend
                            </div>
                            <div class="d-flex align-items-center"><span class="share-gray-icon pe-4"></span>Share
                            </div>
                            <div class="d-flex align-items-center"><span class="comment-gray-icon pe-4"></span>Comment
                            </div>
                            <div class="d-flex align-items-center"><span class="bookmark-gray-icon pe-4"></span>Bookmark
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bookmarks-container">
                <h6>Recent Bookmarks</h6>
                <ul class="bookmarks">
                    <li>The Rise of Artificial Intelligence</li>
                    <li>An Introduction to Microservices</li>
                    <li>Machine Learning Essentials</li>
                    <li>Machine Learning Essentials</li>
                    <li>Confident Coding: Master the lesson</li>
                </ul>
                <p class="text-bold"><a href="#" class="underline">See all</a></p>
            </div>
        </div>
    </div>
</section>