// @import './../../assets/styles/variables.scss';
.inner {
    max-width: 1366px;
    margin: 0 auto;
  }
  
  .feeds-blog-container {
    // display: flex;
    column-gap: 15px;
    margin: 30px 0px;
  
  
    .bookmarks-container,
    .main-container,
    .subscribe-container {
      padding: 15px;
      border: 1.5px solid #dedede;
      border-radius: 2px;
      background: var(--bs-white);
    }
    .bookmarks-container {
      width: 310px;
      .bookmarks {
        margin-block-start: 0;
        text-align: left;
        padding-inline-start: 0;
        li {
          list-style: none;
          font-size: 16px;
          line-height: 22px;
          padding-bottom: 15px;
          background: url('../../assets/feeds/bookmark-icon-feed.svg') no-repeat 0px 5px;
          padding-left: 25px;
          color: #5c5c5c;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .main-container {
      width: 605px;
      margin-bottom: 15px;
    }
    .share-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .profile-pic {
      background: url('../../assets/feeds/profile-pic.svg') no-repeat;
      height: 51px;
      width: 73px;
      background-size: 100%;
    }
  
    .feeds-img {
      width: 100%;
      height: 250px;
      margin-bottom: 20px;
    }
    .subscribe-container {
      width: 310px;
    }
  }
  .share-container {
    padding: 20px 15px 15px;
  //   margin-top: -175px;
  //   border-top-left-radius: 30px;
  //   border-top-right-radius: 30px;
    background: var(--bs-white);
  }
  .share-block {
    margin-right: 20px;
    display: flex;
  
    .share-textbox input {
      border: 1px solid #cbcbcb;
      border-radius: 35px !important;
      margin-bottom: 0;
    }
  }
  .share-btn {
    border: none;
    cursor: pointer;
    // font-family: $primary-font-black;
    color: #7b7b7b;
    padding-bottom: 15px;
    &:hover {
      color: #000;
    }
    span {
      padding-left: 20px;
    }
    &.video {
      background: url('../../assets/feeds/video.svg') no-repeat 0px 8px;
    }
    &.books {
      background: url('../../assets/feeds/books.svg') no-repeat 0px 8px;
    }
    &.course {
      background: url('../../assets/feeds/course.svg') no-repeat 0px 8px;
    }
    &.article {
      background: url('../../assets/feeds/article.svg') no-repeat 0px 8px;
    }
    &.jobs {
      background: url('../../assets/feeds/jobs.svg') no-repeat 0px 8px;
    }
    &.events {
      background: url('../../assets/feeds/events.svg') no-repeat 0px 6px;
    }
    &.news {
      background: url('../../assets/feeds/news.svg') no-repeat 0px 6px;
    }
  }
  
  .share-gray-icon {
      background: url('../../assets/feeds/share-icon.svg') no-repeat;
      width: 15px;
      height: 14px;
    }
    
    .comment-gray-icon {
      background: url('../../assets/feeds/comment-icon.svg') no-repeat;
      width: 15px;
      height: 14px;
    }
    .bookmark-gray-icon {
      background: url('../../assets/feeds/bookmark-icon-feed.svg') no-repeat;
      width: 15px;
      height: 15px;
    }
    .recommend-gray-icon {
      background: url('../../assets/feeds/recommend-icon.svg') no-repeat;
      width: 15px;
      height: 15px;
    }
    .article-gray-icon {
      background: url('../../assets/feeds/article-icon.svg') no-repeat;
      width: 15px;
      height: 15px;
    }
  
    input {
    background: var(--bs-white);
    border: 0 none;
    padding: 10px 20px;
    border-radius: 10px !important;
    color: #000;
    font-size: 16px;
    margin-bottom: 25px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .grey-color {
      color: #656565;
  }