<div>
  <div class="video-detail-progress gap-3 d-flex px-4 py-2 align-items-end border-bottom border-3 position-relative">
      <button class="btn btn-link p-0"> <img src="assets/stretch.svg" alt=""> </button>
      <button class="btn btn-link p-0"> <img src="assets/edit-text.svg" alt=""> </button>
      <p class="m-0 ms-auto fw-600 lh-1 text-uppercase">70% Progress</p>
      <span class="progress-bar position-absolute start-0 bottom-1"></span>
  </div>
  <div class="video-list">
      <div class="accordion">
          <div *ngFor="let module of course.modules; let i = index" class="accordion-item">
            <h2 class="accordion-header p-0 px-0"  [id]="'module' + i">
              <button class="accordion-button gap-4 px-2 py-3 rounded-0 grid m-0 align-items-start text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="video-no border ratio ratio-1x1 border-3 border-secondary fs-14 rounded-circle d-flex justify-content-center align-items-center"> 1 </div>
                  <div class="video-list-detail">
                      <h4 class="m-0">{{module.title}}</h4>
                      <p class="fs-14 m-0">20 min</p>
                  </div>
              </button>
            </h2>
            <div  [id]="'collapse' + i"  class="accordion-collapse collapse show" aria-labelledby="headingOne" >
              <div class="accordion-body">
                  <button type="button" *ngFor="let video of module.videos; let i = index" class="video-list-innr position-relative border-0 gap-4 px-2 py-3 w-100 align-items-start text-start"
                  (click)="onChangeVideo(video)">
                    <div role="progressbar" class="playlist-progress" [attr.aria-valuenow]="math.floor((video.watchedDuration/video.duration) * 100)" aria-valuemin="0" aria-valuemax="100" style="--value: {{math.floor((video.watchedDuration / video.duration) * 100)}}">
                        <div class="video-no p-0 border ratio ratio-1x1 border-0 border-secondary fs-14 rounded-circle d-flex justify-content-center align-items-center"> <img src="assets/video-icon.svg" alt=""> </div>
                    </div>    
                    <div class="video-list-detail">
                        <h4 class="m-0 fs-14 fw-normal">{{video.title}}</h4>
                        <p class="m-0 fs-14 fw-normal">{{video.duration}} min</p>
                    </div>
                    <div *ngIf="video.completed" class="video-list-icon">  </div>
                  </button>                
              </div>
            </div>
          </div>
          <!--div class="accordion-item">
            <h2 class="accordion-header p-0" id="headingTwo">
              <button class="accordion-button gap-4 rounded-0 px-2 py-3 grid m-0 align-items-start text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <div class="video-no border ratio ratio-1x1 border-3 border-secondary fs-14 rounded-circle d-flex justify-content-center align-items-center"> 1 </div>
                  <div class="video-list-detail">
                      <h4 class="m-0">Welcome to the Deep Learning</h4>
                      <p class="fs-14 m-0">20 min</p>
                  </div>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" >
              <div class="accordion-body">
                  <button class="video-list-innr position-relative border-0 gap-4 px-2 py-3 w-100 align-items-start text-start">
                      <div class="video-no border ratio ratio-1x1 border-0 border-secondary fs-14 rounded-circle d-flex justify-content-center align-items-center"> <img src="assets/video-icon.svg" alt=""> </div>
                      <div class="video-list-detail">
                          <h4 class="m-0 fs-14 fw-normal">Welcome to the Deep Learning</h4>
                          <p class="m-0 fs-14 fw-normal">20 min</p>
                      </div>
                      <div class="video-list-icon">  </div>
                  </button> 
                  <button class="video-list-innr position-relative border-0 gap-4 px-2 py-3 w-100 align-items-start text-start">
                      <div class="video-no border ratio ratio-1x1 border-0 border-secondary fs-14 rounded-circle d-flex justify-content-center align-items-center"> <img src="assets/video-icon.svg" alt=""> </div>
                      <div class="video-list-detail">
                          <h4 class="m-0 fs-14 fw-normal">Welcome to the Deep Learning</h4>
                          <p class="m-0 fs-14 fw-normal">20 min</p>
                      </div>
                      <div class="video-list-icon video-list-icon-dark">  </div>
                  </button>    
              </div>
            </div>
          </div-->
      </div>
  </div>
</div>