<!-- Reset Password Start -->
<div class="w-100 reset-password-wrapper">
  <div class="mb-5 text-center">
    <img src="../../assets/logo.png" alt="" />
  </div>
  <h2 class="text-white text-center pb-3">Create New Password</h2>
  <p class="text-center">
    We have sent a password reset code by email{{ getEmailIfPresent() }}. Enter
    it below to reset your password.
  </p>
  <form>
    <div>
      <input
        type="text"
        class="form-control"
        aria-label="Verification Code"
        placeholder="Verification Code"
      />
    </div>
    <div>
      <input
        type="password"
        class="form-control"
        aria-label="New Password"
        placeholder="New Password"
      />
    </div>
    <div>
      <input
        type="password"
        class="form-control"
        aria-label="Confirm Password"
        placeholder="Confirm Password"
      />
    </div>

    <button type="submit" class="btn btn-block login-btn">
      Reset Password
    </button>
  </form>
</div>
<!-- Reset Password End -->
