<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <ul>
    <li>
      <a href="#"><span class="hamburger-icon"></span></a>
    </li>
    <li>
      <a href="/lms/dashboard" routerLinkActive="active"><span class="home-icon"></span>Home</a>
    </li>
    <li class="">
      <a href="/lms/courses" routerLinkActive="active"><span class="course-icon"></span> Courses</a>
    </li>
    <li class="">
      <a href="/lms/references" routerLinkActive="active"><span class="references-icon"></span> References</a>
    </li>
    <li class="">
      <a href="#" routerLinkActive="active"><span class="calendar-icon"></span> Calendar</a>
    </li>
    <li class="">
      <a href="#" routerLinkActive="active"><span class="inbox-icon"></span> Inbox</a>
    </li>
    <li class="">
      <a href="/lms/reports" routerLinkActive="active"><span class="reports-icon"></span> Reports</a>
    </li>
    <li class="">
      <a href="/lms/settings" routerLinkActive="active"><span class="settings-icon"></span> Settings</a>
    </li>
  </ul>
</aside>
<main>
  <header>
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid mx-2">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar"
            aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="uil-bars text-white"></i>
          </button>
          <a class="navbar-brand" href="#"><img src="../../assets/tekcapzule-logo.svg" alt="" class="corporate-logo"/></a>
        </div>
        <div class="collapse navbar-collapse" id="toggle-navbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <div class="search position-relative text-center px-4 py-3 mt-2" style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
              ">
                <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here" />
                <i class="fa fa-search position-absolute d-block fs-6"></i>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
              </a>
            </li>
            <li class="nav-item">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" (change)="toggleTheme($event)" data-name="theme-toggle-switch" id="checkbox"/>
                  <!-- <input type="checkbox" id="checkbox" /> -->
                  <div class="slider round"></div>
                </label>
              </div>
              <!-- <div class="theme-switch">
                <label>
                  <input type="checkbox" (change)="toggleTheme($event)" /> Toggle Dark Theme
                </label>
              </div> -->
            </li>
            <li *ngIf="authStateService.isUserLoggedIn()" class="d-flex align-self-center" (click)="signOutUser()">
              <span class="align-self-center" style="margin-right: 10px">{{
                authStateService.getFirstName()
                }}</span>
              <i class="fas fa-sign-out-alt" style="font-size: 26px; cursor: pointer"></i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer>
    <div class="powered-by"></div>
  </footer>
</main>