<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <ul>
    <li *ngFor="let menu of menus">
      <a [routerLink]="menu.link" 
          routerLinkActive="active" 
          [ngClass]="menu.icon">
        <span [ngClass]="menu.icon"></span>
        <span>{{menu.label}}</span>
      </a>
    </li>
  </ul>
</aside>
<main>
  <header>
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid mx-2">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar"
            aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#"><img src="../../assets/tekcapzule-logo.svg" alt="" class="corporate-logo"/></a>
        </div>
        <div class="collapse navbar-collapse" id="toggle-navbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <div class="search position-relative " style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
              ">
                <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search anything you want" />
                <i class="pi pi-search position-absolute d-block fs-6"></i>
              </div>
            
            </li>            
            <li class="nav-item">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" (change)="toggleTheme($event)" data-name="theme-toggle-switch" id="checkbox"/>
                  <div class="slider round"></div>
                </label>
              </div>
            </li>
            <li class="nav-item">
                <i class="pi pi-question-circle" style="font-size: 1.4rem; color: #222222"></i>
            </li>
            <li class="nav-item">
                <i class="pi pi-bell" style="font-size: 1.4rem; color: #222222"></i>
            </li>

            <li *ngIf="authStateService.isUserLoggedIn()" class="d-flex align-self-center" (click)="signOutUser()">
              <span class="user-initials align-self-center" style="margin-right: 10px">
                {{
                  getUserInitials()
                }}
              </span>
              <i class="pi pi-sign-out" style="font-size: 1.2rem; cursor: pointer"></i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer>
    <div class="powered-by"></div>
  </footer>
</main>