<!-- Forgot Password Start -->
<div class="w-100 forgot-password-wrapper">
  <div class="mb-5 text-center">
    <img src="../../assets/logo.png" alt="" />
  </div>
  <h2 class="text-white text-center pb-3">Forgot Password</h2>
  <p class="text-center">
    Enter the email address you used to create the account. We will send you a
    link to reset your password.
  </p>
  <form id="resetpassword">
    <div>
      <input
        type="text"
        class="form-control"
        aria-label="Email"
        placeholder="Email"
      />
    </div>

    <button type="submit" class="btn btn-block login-btn">Send</button>
  </form>
</div>
<!-- Forgot Password End -->
