.course-wrapper {
    padding: 0;
    background-color: var(--bs-white);
}
.video-detail-row {
    min-height: calc(100vh - 10.5rem);
}

.video-detail-list {
    background-color: var(--bs-white);
    box-shadow: -5px 0px 30px #00000017;
    .video-detail-progress { 
        p {
            color: var(--primary-color);
            font-size: var(--fs-12);
        }
        span {
            bottom: -0.25rem;
            height: 0.25rem;
            width: 70%;
            background-color: var(--active-color);
        }
    }
}
.video-detail-tile {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.0784313725);
    border-radius: 4px;
    background: var(--white-bg);
}
.course-card {
    padding: 20px;
    height: auto;
    width: auto;
    .course-info {
        min-height: max-content;
        .course-status 
        {
            display: flow;
            label {
                margin-right: 30px;
                .fw-bold {
                    padding-right: 5px;
                }
            }
        }
    }
}