<div>
    <div class="row gx-5 mb-4">
        <div class="col-12 col-sm-9">
            <h3>About this Course</h3>
            <p>{{course.summary}}</p>
        </div>
        <div class="col-12 col-sm-3">
            <h3>Instructors</h3>
            <div class="box rounded-2 align-items-center mb-4 mb-lg-0">
                <div  class="instructors">
                    <h3 class="profile-name">{{course.author.split(" ")[0].charAt(0)}}
                        {{course.author.split(" ").length > 1 ? course.author.split(" ")[1].charAt(0) : ''}}</h3>
                    <h3> {{course.author}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="course-card mb-5">
        <div class="course-info">
        <h3>What’s included</h3>
                <div class="course-status">
                    <label><span class="rounded video-icon"></span><span class="fw-bold">{{formattedDuration}} </span>
                         of videos</label>
                    <label><span class="rounded notes-icon"></span><span class="fw-bold">2hr </span>
                         of reading</label>
                    <label class=""><span class="rounded notes-icon"></span>Quiz</label>
                    <button *ngIf="course.assessment" class="link-btn" [disabled]="courseStatus.status !== 'Completed'" (click)="openLink()"><span class="rounded notes-icon"></span><span
                            class="fw-bold"></span> Assessment</button>
                    <label><span class="rounded notes-icon"></span><span
                            class="fw-bold">1</span> Course completion certificate</label>
                </div>
        </div>
    </div>

    <div class="row g-sm-4 mb-5">
        <div class="col-12 col-sm-4">
            <div class="h-100 p-4 video-detail-tile">
                <h3 class="mb-4">What you’ll learn?</h3>
                <ul>
                    <li *ngFor="let obj of course.learningObjectives" class="mb-4">{{obj}}</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="h-100 p-4 video-detail-tile">
                <h3 class="mb-4">Any course requirements?</h3>
                <ul>
                    <li class="mb-3" *ngFor="let preReq of course.preRequisites">{{preReq}}</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="h-100 p-4 video-detail-tile">
                <h3 class="mb-4">Who this course is for?</h3>
                <ul>
                    <li class="mb-4" *ngFor="let audience of course.targetedAudiences">{{audience}}</li>
                </ul>
            </div>
        </div>
    </div>

    <h3 class="mb-3">Frequently asked questions</h3>

    <div class="accordion accordion-flush mb-3 box-shadow" id="accordionFlushExample">
        <app-faq [faqs]="course.faqs"></app-faq>
      </div>
</div>
