// Welcome
.welcome {
  & .content {
    background-color: var(--white-bg);
  }

  & p {
    color: var(--secondary-color);
  }
}

// Statistics
.statistics {
  color: var(--secondary-color);

  .box {
    background-color: var(--white-bg);
    border: 1px solid var(--border-color);
    margin-right: 10px;
    line-height: 18px;
    .overdue-icon,
    .inprogress-icon,
    .completed-icon,
    .scored-icon {
      background-repeat: no-repeat;
      height: 34px;
      width: 34px;
    }
    .overdue-icon {
      background-image: url(../../assets/dashboard/overdue.svg);
    }
    
    .inprogress-icon {
      background-image: url(../../assets/dashboard/inprogress.svg);
    }
    .completed-icon {
      background-image: url(../../assets/dashboard/completed.svg);
    }
    .scored-icon {
      background-image: url(../../assets/dashboard/scored.svg);
    }

    p {
      color: var(--secondary-color);
    }
  }
}
// Your Badges

.badges {
  padding-left: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 25px;
  }
  .bronze, .silver, .gold {
    background-repeat: no-repeat;
    width: 43px;
    height: 50px;
  }
  
  .bronze {
    background-image: url(../../assets/dashboard/bronze.svg);
  }
  
  .silver {
    background-image: url(../../assets/dashboard/silver.svg);
  }
  
  .gold {
    background-image: url(../../assets/dashboard/gold.svg);
  }
}




// Courses
.courses {
  & .course-container {
    background-color: var(--white-bg);
    min-height: 160px;

    .box {
      min-height: 180px;

      h3 {
        color: var(--secondary-color);
      }
    }
  }
}

// Statis
.statis {
  color: var(--dk-gray-100);

  .box {
    position: relative;
    overflow: hidden;
    border-radius: 3px;

    h3:after {
      content: "";
      height: 2px;
      width: 70%;
      margin: auto;
      background-color: rgba(255, 255, 255, 0.12);
      display: block;
      margin-top: 10px;
    }

    i {
      position: absolute;
      height: 70px;
      width: 70px;
      font-size: 22px;
      padding: 15px;
      top: -25px;
      left: -25px;
      background-color: rgba(255, 255, 255, 0.15);
      line-height: 60px;
      text-align: right;
      border-radius: 50%;
    }
  }
}

// Navbar
.navbar {
  background-color: var(--navbar-bg-color) !important;
  border: none !important;
  box-shadow: 5px 0px 10px #0000001A;
  height: 65px;
}


// Events
section {
  & .events {
    grid-area: event;
    box-sizing: border-box;

    ul {
      margin: 0;
      list-style: none;
      padding: 0;

      li {
        background-color: #fff;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
        grid-template-areas:
          "time time"
          "detail detail";
        margin-bottom: 20px;
        border: 1px solid var(--border-color);
        height: 65px;
        &:first-child {
          border-left: 5px solid var(--active-color);
        }
        &:nth-child(2) {
          border-left: 5px solid var(--green);
        }
        &:nth-child(3) {
          border-left: 5px solid var(--blue);
        }

        .time {
          grid-area: time;
          position: relative;
          background-color: var(--bg-color);
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          transition: 0.5s;
          

          &:hover {
            background-color: var(--active-color);
          }

          h2 {
            margin: 0;
            padding: 0;
            color: var(--primary-color);
            font-size: 24px;
            line-height: 30px;

            span {
              font-size: 18px;
            }
          }
        }

        .details {
          grid-area: detail;
          padding: 10px;
          background-color: #fff;
          box-sizing: border-box;

          p {
            padding: 0;
            font-size: 16px;
            font-weight: 500;
          }

          a:hover {
            background-color: #e91e63;
            color: #fff;
            border-color: #e91e63;
          }
        }
      }
    }

    @media (min-width: 768px) {
      ul li {
        grid-template-areas:
          "time detail"
          "time detail";
      }
    }
  }
}

/* Switch Wrapper */
.switches-container {
  width: 16rem;
  position: relative;
  display: flex;
  padding: 0;
  position: relative;
  background: var(--white-bg);
  line-height: 3rem;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border: 1px solid var(--tertiary-color);

  input {
    visibility: hidden;
    position: absolute;
    top: 0;
  }

  label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 500;
  }

  .switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
  }

  /* switch box highlighter */
  .switch {
    border-radius: 3rem;
    background: var(--primary-color);
    height: 100%;

    div {
      width: 100%;
      text-align: center;
      opacity: 0;
      display: block;
      color: var(--white-bg);
      transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
      will-change: opacity;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  input:nth-of-type(1):checked ~ .switch-wrapper {
    transform: translateX(0%);
  }

  input:nth-of-type(2):checked ~ .switch-wrapper {
    transform: translateX(100%);
  }

  input:nth-of-type(1):checked ~ .switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
  }

  input:nth-of-type(2):checked ~ .switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
  }
}

.course-icon-bg {
  background: var(--forgetme-not-color) url('../../assets/dashboard/course-icon.svg') no-repeat center center;
  padding: 52px;
  border-radius: 50px;
  width: 50px;
  display: inline-block;
}
