
<section id="wrapper">
  <div class="container-fluid">
    <div class="card flex justify-content-center gap-2">
        <p-toast position="top-center" key="tc"></p-toast>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="dashboard-banner">
          <h1 class="fs-3">Welcome back, {{fullName}}</h1>
          <p class="mb-0">Greetings {{firstName}}, welcome to your fantastic learning curve dashboard!!!</p>
          <section class="statistics mt-4">
            <div class="row">
              <div class="col-lg-10">
                <h4>Your Learning Summary</h4>
                <div class="d-flex">
                  <div class="col-lg-3">
                    <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                      <span class="overdue-icon"></span>
                      <div class="ms-3">
                        <div class="d-flex align-items-center">
                          <h2 class="pb-0">{{enrolledCourses + activeCourses + completedCourses}} Courses</h2>
                        </div>
                        <p class="gray-txt mb-0"><span class="status overdue"></span>Enrolled
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                      <span class="inprogress-icon"></span>
                      <div class="ms-3">
                        <div class="d-flex align-items-center">
                          <h2 class="pb-0">{{activeCourses}} Courses</h2>
                        </div>
                        <p class="gray-txt mb-0"><span class="status inprogress"></span>In
                          Progress</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="box d-flex rounded-2 align-items-center p-3">
                      <span class="completed-icon"></span>
                      <div class="ms-3">
                        <div class="d-flex align-items-center">
                          <h2 class="pb-0">{{completedCourses}} Courses</h2>
                        </div>
                        <p class="gray-txt mb-0"><span class="status completed"></span>Completed
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="box d-flex rounded-2 align-items-center p-3">
                      <span class="scored-icon"></span>
                      <div class="ms-3">
                        <div class="d-flex align-items-center">
                          <h2 class="pb-0">{{(userData && userData.points) ? userData.points : 0}}</h2>
                        </div>
                        <p class="gray-txt mb-0"><span class="status scored"></span>Points Scored</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashboard-banner-image">
                <img src="../../assets/dashboard/dashboard-banner.png" alt="Dashboard Banner" />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-lg-9">
                <h4>Your Badges</h4>
                <p *ngIf="!userData?.points">No Badges Yet</p>
                <ul *ngIf="userData?.points" class="badges">
                  <li *ngIf="userData.points > 0" class="bronze"></li>
                  <li *ngIf="userData.points > 20" class="silver"></li>
                  <li *ngIf="userData.points > 40" class="gold"></li>
                  <li *ngIf="userData.points > 60" class="silver"></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <div class="box-layout m-0 d-none">
            <section class="tasks mt-4">
             <h3>Your Tasks</h3>
              <div class="row">
                <ng-container *ngFor="let task of taskList;">
                  <div class="col-lg-4">
                    <app-task-card [task]="task"></app-task-card>
                  </div>
                </ng-container>
              </div> 
            </section>  
        </div> 
        <section>
          <div class="box-layout mx-0">
            <h3>My Courses</h3>
            <div class="col-12">
              <ng-container *ngFor="let course of courseList; let i = index">
                <app-course-card *ngIf="course" [course]="course" [courseStatus]="courseStatus[i].course" [page]="'Dashboard'"></app-course-card>
              </ng-container>
            </div>
            <div *ngIf="!courseList.length" class="no-course content-center">
              <div class="course-icon-bg"></div>
              <p class="secondary-heading">You do not have any new course assigned to you.</p>
              <button class="btn primary-btn">Explore</button>
            </div>
          </div>
        </section>


      </div>
      <div class="col-3">
        <div class="box-layout m-0 mb-3 px-3">
          <h3>Leaderboard</h3>
          <section id="tabs" class="project-tab">
            <div class="px-3">
              <div class="row">
                <div class="col-md-12 px-0">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                        role="tab" aria-controls="nav-home" aria-selected="true">My
                        Rank</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Top 5</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <table class="table leader-baord-table" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Points</th>
                            <th>Rank</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <span class="name-tile">MP</span>
                              <span>Mathew Perry</span></td>
                            <td>122.6</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>
                            <span class="name-tile">JN</span>
                            <span>Jeniffer Aniston</span>
                          </td>
                            <td>122.6</td>
                            <td>2</td>
                          </tr>
                          <tr>
                            <td>
                            <span class="name-tile">BG</span>
                            <span>Billy Grahms</span>
                          </td>
                            <td>122.6</td>
                            <td>3</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="box-layout m-0 mb-3">
          <h3>Upcoming Events</h3>
          <div>
            <div class="events">
              <ul>
                <li>
                  <div class="time">
                    <h2>24<br><span>June</span></h2>
                  </div>
                  <div class="details">
                    <p>Mentoring session scheduled for you</p>
                  </div>
                  <div style="clear: both;"></div>
                </li>
                <li>
                  <div class="time">
                    <h2>24<br><span>June</span></h2>
                  </div>
                  <div class="details">
                    <p>Mentoring session scheduled for you</p>
                  </div>
                  <div style="clear: both;"></div>
                </li>
                <li>
                  <div class="time">
                    <h2>24<br><span>June</span></h2>
                  </div>
                  <div class="details">
                    <p>Mentoring session scheduled for you</p>
                  </div>
                  <div style="clear: both;"></div>
                </li>
              </ul>
            </div>
            <!-- <div class="d-flex justify-content-center">
              <button class="btn primary-btn-filled">View All</button>
            </div> -->
          </div>
          <div class="no-events content-center">
            <img src="../../assets/dashboard/no-events.png" alt="" />
            <!-- <p class="secondary-heading">You don’t have any events for this month!</p> -->
          </div>
        </div>
        <div class="box-layout m-0 mb-3 d-none">
          <h3>Poll</h3>
          <h4>Which technology is going to be a big boom in the year 2024?</h4>
          <ul class="poll p-0">
            <li class="options" *ngFor="let option of pollOptions">
              <input class="pr-3" type="radio" [id]="option.id" [value]="option.id" name="option" [checked]="pollSelectedId === option.id"
              [disabled]="isPollSubmitted" (change)="onOptionSelect(option.id)">
              <label [for]="option">{{ option.name }}</label>
            </li>
          </ul>
          <div class="d-flex justify-content-center mt-3">
            <button class="btn primary-btn-filled" [disabled]="isPollSubmitted" (click)="onPollSubmit()">Submit</button>
          </div>
        </div>
        <div class="box-layout m-0 mb-3">
          <h3>Quick Links</h3>
          <ul class="quick-links">
            <li>Intranet Home</li>
            <li><a href="https://www.udemy.com/" target="_blank">Udemy</a></li>
            <li><a href="https://www.pluralsight.com/" target="_blank">Pluralsight</a></li>
            <li><a href="https://www.coursera.org/" target="_blank">Coursera</a></li>
            <li><a href="https://techcollege.dk/" target="_blank">Techcollege</a></li>
          </ul>
          <!-- <div class="no-link content-center">
            <img src="../../assets/dashboard/no-links.png" alt="" />
            <p class="secondary-heading">You do not have any links configured!</p>
            <button class="btn primary-btn-filled">Configure</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!--footer>
	<div class="powered-by"></div>
</!--footer-->
