<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">



    <ul class="categories list-unstyled">
        <li>
            <a href="#"> Home</a>
        </li>
        <li class="">
            <a href="#"> Courses</a>
        </li>
        <li class="">
            <a href="#"> References</a>
        </li>
        <li class="">
            <a href="#"> Calendar</a>
        </li>
        <li class="">
            <a href="#"> Inbox</a>
        </li>
        <li class="">
            <a href="#"> Reports</a>
        </li>
        <li class="">
            <a href="#"> Settings</a>
        </li>
    </ul>
</aside>

<section id="wrapper">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid mx-2">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar"
                    aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="uil-bars text-white"></i>
                </button>
                <a class="navbar-brand" href="#"><img src="../../assets/tekcapzule-logo.svg" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="toggle-navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <div class="search position-relative text-center px-4 py-3 mt-2">
                            <input type="text" class="form-control w-100 border-0 bg-transparent"
                                placeholder="Search here">
                            <i class="fa fa-search position-absolute d-block fs-6"></i>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#"><i class="uil-comments-alt"></i><span>23</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="uil-bell"></i><span>98</span></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="p-4">
        <div class="welcome">
            <div class="content rounded-3 p-3">
                <h1 class="fs-3">Welcome to Dashboard</h1>
                <p class="mb-0">Hello Jone Doe, welcome to your awesome dashboard!</p>
            </div>
            <section class="statistics mt-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                            <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle"></i>
                            <div class="ms-3">
                                <div class="d-flex align-items-center">
                                    <h2 class="mb-0">7 Courses</h2>
                                </div>
                                <p class="fs-normal mb-0">Overdue</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                            <i class="uil-file fs-2 text-center bg-danger rounded-circle"></i>
                            <div class="ms-3">
                                <div class="d-flex align-items-center">
                                    <h2 class="mb-0">4 Courses</h2>
                                </div>
                                <p class="fs-normal mb-0">In Progress</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box d-flex rounded-2 align-items-center p-3">
                            <i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
                            <div class="ms-3">
                                <div class="d-flex align-items-center">
                                    <h2 class="mb-0">2 Courses</h2>
                                </div>
                                <p class="fs-normal mb-0">Completed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box d-flex rounded-2 align-items-center p-3">
                            <i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
                            <div class="ms-3">
                                <div class="d-flex align-items-center">
                                    <h2 class="mb-0">345</h2>
                                </div>
                                <p class="fs-normal mb-0">Points Scored</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>



        <section class="courses mt-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="course-container rounded-2 p-3">
                        <h4 class="mb-3">Module Assessment</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="course-container rounded-2 p-3">
                        <h4 class="mb-3">Module Assessment</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="course-container rounded-2 p-3">
                        <h4 class="mb-3">Project</h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="statis mt-4 text-center">
            
        </section>

        <section class="courses mt-4">
            <div class="course-container p-3">
                <h2 class="mb-3">Recommended Courses</h2>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="box p-3">
                            <i class="uil-eye"></i>
                            <h2>Neural Networks and Deep Learning</h2>
                            <p class="lead">Neural Networks and Deep Learning</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="box p-3">
                            <i class="uil-user"></i>
                            <h2>How to Use Lookup Reference Math and Text Functions in Excel</h2>
                            <p class="lead">Linjith Kunnon</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                        <div class="box p-3">
                            <i class="uil-shopping-cart"></i>
                            <h2>Investment Risk Management</h2>
                            <p class="lead">Linjith Kunnon</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<footer>
    <div class="powered-by"></div>
</footer>