
 @media screen and (max-width: 1512px) and (min-width: 1366px) {
	body {
		zoom: 85%;
	}
  }
  @media screen and (max-width: 1512px) {
	body {
		zoom: 79%;
	}
}

@media screen and (max-width: 1366px) {
	body {
		zoom: 72%;
	}
}