<div  *ngFor="let faq of faqs;let i = index" class="accordion-item border">
    <h2 class="accordion-header p-0" [id]="'faq' + i">
    <button class="accordion-button collapsed mb-0 border-0 bg-white show" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"  aria-expanded="false" aria-controls="flush-collapseOne">
        {{faq.question}}
    </button>
    </h2>
    <div [id]="'collapse' + i" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body pt-0 p-4">{{faq.answer}}</div>
    </div>
</div>