.confirm-account-wrapper {
  width: 416px !important;
}

.btn,
.input-group-text,
.form-control,
.forgot-pass {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-optical-sizing: auto;
}

.btn {
  border-radius: 30px;
  height: 60px;
  width: 100%;
  padding: 15px 50px;
  margin-bottom: 20px;
}

.login-btn {
  background: #ec1a57;
  color: #fff;
}

.form-control {
  border-radius: 30px;
  height: 60px;
  border: 0 none;
  padding: 0 30px;
  // margin-bottom: 20px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-wrapper {
  margin-bottom: 20px;
}

.input-group-text {
  background: var(--bg-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 60px;
  padding: 20px;
  border: 0 none;

  &.email {
    padding-left: 56px;
  }
}

.input-group-error {
  border: 2px solid var(--red);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.input-error-text {
  font-size: 14px;
  padding-left: 30px;
}

.send-code {
  color: #fff;
  font-size: 16px;
}
